.app-header {
  background-color: #fefefe;
  border-bottom: 1px solid #000000;
}

.logo-box {
  width: 36px;
  height: 36px;
  background-color: #dd0707;
  border-radius: 8px;
  margin-right: 8px;
}

.navbar-brand {
  margin-right: 300px;
}

.app-name {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.nav-link {
  color: #000000;
  font-size: 14px;
  margin-right: 0;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: #e50000;
}

.container {
  max-width: 100%;
  margin: 0 30px 0 30px;
}

.btn {
  color: #036fd4;
}

.btn:hover {
  color: rgb(236, 0, 0);
  text-decoration: underline;
}

.btn-outline-primary:hover {
  background-color: transparent;
}

.login-btn {
  color: #16A34A;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 600;
  border: 1px solid #16A34A;
  border-radius: 40px;
  padding: 12px 30px;
}

.login-btn:hover {
  color: rgb(255, 255, 255);
  background-color: #16A34A;
  transition: 0.3s ease-in-out;
}

.nav-link {
  font-weight: 530;
}



@media screen and (max-width: 600px) {
  .container {
    margin: 0 !important;
  }

  .steps-grid {
    gap: 0 !important;
  }

  section {
    padding: 100px 35px !important;
  }

  .navbar-brand {
    margin-right: 0px;
  }

  .login-btn {
    font-size: 10px;
    width: 120px;
  }
}