* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.landing-page {
  width: 100%;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(515deg, #aac7da 0%, #318bbb 100%);
  background-attachment: fixed;
  color: #111827;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #1E3A8A;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #111827;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #DC2626;
  color: white;
}

.btn-primary:hover {
  background-color: #1765e4;
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
  color: rgb(255, 255, 255);
}

.btn-secondary {
  background-color: transparent;
  color: #000000;
  border: 2px solid gray;
}

.btn-secondary:hover {
  background-color: #1765e4;
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
}

.features {
  padding: 130px 20px;
  background-color: #fff;
  text-align: center;
}

.features h2 {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1E3A8A;
}

.features>p {
  font-size: 15px;
  margin-bottom: 100px;
  color: #3c3c3c;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  padding: 30px;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.15);
  transition: 0.4s ease-in-out;
}

.feature-icon {
  font-size: 38px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: #16A34A;
  margin-bottom: 14px;
  font-weight: bold;
}

.feature-card p {
  font-size: 16px;
  color: #3c3c3c;
}

.how-it-works {
  padding: 100px 20px;
  background: linear-gradient(135deg, #e3eff8 0%, #91d3f6 100%);
  background-attachment: fixed;
  text-align: center;
}

.how-it-works h2 {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #692415;
}

.how-it-works>p {
  font-size: 18px;
  margin-bottom: 100px;
  color: #666;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
  max-width: 100vw;
  margin: 0 auto;
}

.steps-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

.steps-track {
  display: flex;
  gap: 50px;
  animation: slide 13s linear infinite;
}

.step {
  flex: 0 0 300px;
  background: transparent;
  padding: 30px;
  text-align: center;
}

.steps-track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1000px) {
  .step {
    flex: 0 0 250px;
  }
}

@media (max-width: 600px) {
  .step {
    flex: 0 0 200px;
  }

  .steps-track {
    animation: slide 10s linear infinite;
  }

}

.step-number {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.step h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.step p {
  font-size: 16px;
  color: #666;
}

.tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 200px 80px 200px;
  background-color: #ffffff;
  text-align: center;
  gap: 100px;
}

.tech-stack h2 {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1E3A8A;
  align-items: flex-start;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-card {
  padding: 40px;
  background-color: transparent;
  transition: all 0.7s ease;
}

.tech-card:hover {
  transform: rotatey(360deg) scale(1.15);
}

.tech-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #F59E0B;
}

.tech-card p {
  font-size: 16px;
  color: #666;
}

@media screen and (max-width: 768px) {

  .hero {
    height: 85vh;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    width: 100%;
  }

  .features h2,
  .how-it-works h2,
  .tech-stack h2 {
    font-size: 32px;
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
  }

  .tech-card {
    padding: 40px 20px;
    text-align: left;
    transition: all 0.7s ease;
  }

  .tech-card h3 {
    font-size: 18px;
  }

  .tech-card p {
    font-size: 14px;
  }

  .features>p {
    margin-bottom: 50px;
  }

  .how-it-works>p {
    margin-bottom: 50px;
  }

  .tech-stack {
    flex-direction: column;
    gap: 50px;

  }

  .tech-stack>h2 {
    margin: 0;
  }
}