* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.landing-page {
  width: 100%;
}

.hero {
  background-image: url('hero-img.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.hero::before {
  content: '';
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  background-color: rgba(46, 46, 46, 0.6); 
}

.hero {
  padding: 80px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 58px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  z-index: 2;
}

.hero p {
  font-size: 22px;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  z-index: 2;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}

.btn {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #16A34A;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(2, 186, 29);
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.btn-secondary {
  background-color: white;
  color: #16A34A;
  border: 2px solid #ffffff;
}

.btn-secondary:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  text-decoration: none;
}

.features {
  padding: 130px 20px;
  background-color: #fff;
  text-align: center;
  max-width: 100vw;
}

.features h2 {
  font-size: 68px;
  margin-bottom: 10px;
  letter-spacing: 6px;
  font-weight: bold;
  color: #16A34A;
}

.features>p {
  font-size: 15px;
  margin-bottom: 100px;
  color: #3c3c3c;
}
.feature-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1a202c;
}

.feature-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #4a5568;
}

.feature-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.feature-card {
  background-color: transparent;
  padding: 40px 80px;
  border: 1px solid #16A34A;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-card:hover {
  transform: scale(1.15);
  transition: 0.4s ease-in-out;
}

.feature-icon {
  font-size: 38px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: #16A34A;
  margin-bottom: 14px;
  font-weight: bold;
}

.feature-card p {
  font-size: 16px;
  color: #3c3c3c;
}

.how-it-works {
  padding: 100px 20px;
  background-color: #F7F7F7;
  background-attachment: fixed;
  text-align: center;
}

.how-it-works h2 {
  font-size: 68px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-weight: 800;
  color: #DC2626;
}

.how-it-works>p {
  font-size: 18px;
  margin-bottom: 100px;
  color: #666;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px;
  max-width: 100vw;
  margin: 0 auto;
}

.steps-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

.steps-track {
  display: flex;
  gap: 50px;
  animation: slide 13s linear infinite;
}

.step {
  flex: 0 0 300px;
  background: transparent;
  padding: 30px;
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1000px) {
  .step {
    flex: 0 0 250px;
  }
}

@media (max-width: 600px) {
  .step {
    flex: 0 0 200px;
  }

  .steps-track {
    animation: slide 10s linear infinite;
  }

}

.step-number {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.step h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.step p {
  font-size: 16px;
  color: #666;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0 200px 0;
}

.tech-stack h2 {
  font-size: 68px;
  margin-bottom: 80px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #16A34A;
  align-items: center;
}

.tech-card img {
  width: 100px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.tech-card h2 {
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
  color: #3c3c3c;
}

.tech-card .mern-logo {
  width: 500px;
  height: 130px;
  max-width: 100vw;
}

.tech-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
}

@media screen and (max-width: 768px) {

  .hero {
    height: 85vh;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    width: 100%;
  }

  .features h2,
  .how-it-works h2,
  .tech-stack h2 {
    font-size: 32px;
  }

  .feature-grid {
    flex-direction: column;
  }

  .feature-card {
    min-height: 420px;
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
  }

  .tech-card {
    padding: 40px 20px;
    text-align: left;
    transition: all 0.7s ease;
  }

  .tech-card h2 {
    font-size: 18px;
  }

  .tech-card p {
    font-size: 14px;
  }

  .features>p {
    margin-bottom: 50px;
  }

  .how-it-works>p {
    margin-bottom: 50px;
  }

  .tech-stack {
    flex-direction: column;
    gap: 50px;

  }

  .tech-stack>h2 {
    margin: 0;
  }

  .btn-primary {
    padding: 8px 12px;
  }

  .tech-card .mern-logo {
    width: 200px;
    height: 70px;
  }

  .tech-card img {
    width: 70px;
  }
}